checkpoints_cifar10/*pkl
checkpoints_cifar10/*pth
checkpoints_cifar10/*json

checkpoints_cifar10_extend/*pkl
checkpoints_cifar10_extend/*pth
checkpoints_cifar10_extend/*json

checkpoints_mnist/*pkl
checkpoints_mnist/*pth
checkpoints_mnist/*json
data/

CKA_similarity/__pycache__